if SHIELD_CALIDRIS_LEFT

config ZMK_KEYBOARD_NAME
    default "Calidris"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CALIDRIS_LEFT || SHIELD_CALIDRIS_RIGHT

config ZMK_SPLIT
    default y

endif